@model IEnumerable<CarCare.Models.ServiceRecordViewModel>

@{
    ViewBag.Title = "Tire Replacement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @MyHelpers.DisplayServiceRecords("TireReplacement", (IEnumerable<CarCare.Models.ServiceRecordViewModel>)Model)
</div>

