
@{
    ViewBag.Title = "Search Using Google Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for Service Stations</h2>

<div class="container">
    <label for="zipCode">Zip Code</label>
    <input type="number" name="zipCode"  onblur="GoogleService.processZipCode(this.value, searchForPlace)" value="" />
    <button onclick="GoogleService.askForLocation(searchForPlace);">Use Current Location</button>
</div>

<div class="container" style="height: 500px">
    <div id="google-maps-results" style="height:100%"></div>
</div>

<script>
    //var map = new google.maps.map(document.getelementbyid('google-maps-results'), {
    //    center: { lat: -34.397, lng: 150.644 },
    //    zoom: 8
    //});

    var searchForPlace = function () {
        GoogleService.searchAndDisplay('google-maps-results');
    };
    
</script>