
@{
    ViewBag.Title = "Search Using Google Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Places</h2>

<div class="container" style="height: 500px">
    <div id="google-maps-results" style="height:100%"></div>
</div>

<script>
    var map = new google.maps.Map(document.getElementById('google-maps-results'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8
    });
</script>